[Unit]
Description=daily agentbox data backup

[Timer]
OnCalendar=*-*-* 04:17:00
RandomizedDelaySec=20m
Persistent=true

[Install]
WantedBy=timers.target
